.inputForm {
	width: 50vw;
	padding: 1rem;
	margin-top: 40px;
	margin: auto;
}

.input-container {
	border: 1.2px solid black;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1rem;
}

.inputForm input {
	border: none;
	font-size: 16px;
	padding: 0.7rem;
	background: none;
	width: 100%;   
    border-radius:  1rem  0  0 1rem;
}
.inputForm input:focus ,.inputForm input:hover{
	background: white;
}
.inputForm input::placeholder{
	
    color: rgb(111, 110, 110);
}

.inputForm button {
	font-size: 15px;
	width: 10vw;
	padding: 0.7rem;
	border-radius: 0 1rem  1rem 0;
	border: none;
	cursor: pointer;
	background-color: rgb(107, 168, 180);
}
.inputForm button:hover {
	background-color: rgb(115, 187, 202);
}


