
.loader-container{
	
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid rgb(150, 190, 190); /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
